:root, :host {
    --md-sys-color-background:#fff8f8;
    --md-sys-color-on-background:#22191c;
    --md-sys-color-surface:#fff8f8;
    --md-sys-color-surface-dim:#e6d6d9;
    --md-sys-color-surface-bright:#fff8f8;
    --md-sys-color-surface-container-lowest:#ffffff;
    --md-sys-color-surface-container-low:#fff0f2;
    --md-sys-color-surface-container:#faeaed;
    --md-sys-color-surface-container-high:#f5e4e7;
    --md-sys-color-surface-container-highest:#efdfe1;
    --md-sys-color-on-surface:#22191c;
    --md-sys-color-surface-variant:#f6dce2;
    --md-sys-color-on-surface-variant:#534247;
    --md-sys-color-inverse-surface:#372e30;
    --md-sys-color-inverse-on-surface:#fdedef;
    --md-sys-color-outline:#867277;
    --md-sys-color-outline-variant:#d9c1c6;
    --md-sys-color-shadow:#000000;
    --md-sys-color-scrim:#000000;
    --md-sys-color-surface-tint:#984061;
    --md-sys-color-primary:#984061;
    --md-sys-color-on-primary:#ffffff;
    --md-sys-color-primary-container:#ffa2bf;
    --md-sys-color-on-primary-container:#5c1031;
    --md-sys-color-inverse-primary:#ffb1c8;
    --md-sys-color-secondary:#7e525f;
    --md-sys-color-on-secondary:#ffffff;
    --md-sys-color-secondary-container:#ffccd9;
    --md-sys-color-on-secondary-container:#5e3743;
    --md-sys-color-tertiary:#934b00;
    --md-sys-color-on-tertiary:#ffffff;
    --md-sys-color-tertiary-container:#ffaa68;
    --md-sys-color-on-tertiary-container:#4d2500;
    --md-sys-color-error:#ba1a1a;
    --md-sys-color-on-error:#ffffff;
    --md-sys-color-error-container:#ffdad6;
    --md-sys-color-on-error-container:#410002;
}

html, body {
    background-color: var(--md-sys-color-surface-container-lowest);
}

mdui-top-app-bar {
    background-color: #fff3f6;
}
